name: "cd - prod"
on:
    workflow_run:
        workflows: ["CI - Test"]
        types:
            - completed
jobs:
    deploy:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        steps:
            - name: "Download artifact from test workflow"
              uses: actions/download-artifact@v4
              with:
                  name: backend-artifact

            - name: "Deploy to Production Server"
              run: |
                  echo "Deploying to production server..."
                  ls
