name: "Test Workflow"

on:
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "checking github workflow"
        run: echo "github workflow is running successfully"
